<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.marine.ViteLaRecette"
          android:versionCode="1"
          android:versionName="1.0" >


    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="17" />



    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityAllRecipes"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ActivityDetailRecipe">
        </activity>

        <activity android:name=".ActivitySeeResults">
        </activity>

        <activity android:name=".ActivityPersonalSearch">
        </activity>

        <activity android:name="ActivityDetailRecipeSteps">
        </activity>

        <activity android:name="ActivityAddRecipeStep1">
        </activity>

        <activity android:name="ActivityAddRecipeStep2">
        </activity>

        <activity android:name="ActivityAddRecipeStep3">
        </activity>

        <activity android:name="ActivityAddRecipeStep4">
        </activity>

        <activity android:name=".ActivityShoplist">
        </activity>

        <activity android:name=".ActivityPreferences">
        </activity>

        <activity android:name=".ActivityShoplistSteps">
        </activity>




    </application>

</manifest>